<!DOCTYPE html>
<html>
<head><meta charset="ISO-8859-1">
<title>CICD Automation</title>
</head>

<body>
        
    <form action="#" th:action="@{/login}" th:object="${login}" method="post">
    	<p>User Name: <input type="text" th:field="*{username}" /></p>
    	<p>Password:  <input type="password" th:field="*{password}" /></p>
    	<p><input type="submit" value="Submit" /> 
    </form>
    	<p th:text="${loginStatusMessage}" ?>

</body>
</html>