<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CICD Automation</title>
</head>
<body>

<div class="sizetext">
			<h2 th:text="${title}"></h2>
</div>

<div>
		
				<div>
					<p style="color: #404040; font-weight: BOLD; padding-bottom: 2%;font-size:18px;">Your bulk has been saved successfully.</p>
					
				</div>

</div>



</body>
</html>