<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CICD Automation</title>
</head>
<body>

<div class="sizetext">
			<h2 th:text="${title}"></h2>
</div>

<div>
	<form method="post" action="#" th:action="@{uploadBulkAccessRequest}" enctype="multipart/form-data">
		<div class="panel-body black">
			<p style="color: #404040; font-weight: BOLD; padding-bottom: 2%;font-size:18px;">Please
				upload your bulk input file.</p>
			<input type="file" name="myFile"/>
		</div>
	
		
		<div class="panel-footer panel_footer2">
					<table>
						<tr style="padding: 10px;">
							<td> </td>
							<td style="text-align: right; width: 20%; padding-right: 20px;">
								<button type="submit" class="btn btn-md" name="action"
									value="upload">Save</button>
							</td>
							
						</tr>
					</table>
		</div>


	</form>
</div>

</body>
</html>